@import '../../styles/tools';

.newsList {
  background: white;
  margin: 0;
  padding: space(8);

  li {
    display: grid;
    gap: space(2);
    border-bottom: 1px solid $silver;
    padding: space(2) 0;

    &:first-of-type {
      padding-top: 0;
    }

    @include mq-750 {
      grid-template-columns: 0.3fr 1fr;
    }

    img {
      display: none;
      max-height: 150px;
      width: 100%;
      object-fit: cover;
      border: 1px solid $silver;

      @include mq-750 {
        display: block;
      }
    }

    .content {
      h3 {
        @include fontBarlowMedium;

        font-size: 3rem;
        margin-bottom: space(2);

        a {
          color: $cod-gray;
        }
      }
    }
  }
}
