@import '../../styles/tools';

.singelReferencePost {
  background: white;

  img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border-bottom: 1px solid $silver;
  }

  .content {
    padding: space(2);

    @include mq-900 {
      padding: space(8);
    }

    h1,
    h2 {
      @include fontBarlowMedium;

      font-size: 4rem;
      line-height: 1;
      margin-bottom: space(4);
    }

    h2 {
      font-size: 3rem;
      margin: space(3) 0 space(2);
    }
  }
}
