@import '../../styles/tools';

.newsItem {
  position: relative;
  width: 100%;
  padding: space(8);
  background-size: cover;
  background-position: center;

  &::after {
    content: '';
    position: absolute;
    left: space(4);
    top: space(4);
    width: calc(100% - #{space(8)});
    height: calc(100% - #{space(8)});
    background: rgba(255, 255, 255, 0.9);
    z-index: 1;
  }

  .inner {
    position: relative;
    z-index: 2;
  }

  img {
    object-fit: cover;
    max-width: 150px;
  }

  @include mq-600 {
    flex: 0 calc(50% - calc(#{space(3)} / 2));
  }
}
