@import '../../styles/tools';

.mobileNav {
  @include mq-750 {
    display: none;
  }

  background: $cod-gray;
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 10%;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    flex-direction: column;
    align-items: flex-end;

    @include fontBarlowRegular;

    li {
      text-transform: uppercase;
      font-size: 3.8rem;

      + li {
        margin-top: space(2);
      }

      a {
        color: white;
        transition: color 0.3s;

        &:hover,
        &.active {
          color: $wild-willow;
        }
      }
    }
  }
}
