@import '../../styles/tools';

.workWithUsSection {
  background: white;

  .inner {
    h3 {
      @include fontBarlowMedium;

      font-size: 3rem;
      margin: 0 0 space(2) 0;
    }

    .content {
      display: flex;
      flex-direction: column;

      img {
        max-height: 340px;
        width: 100%;
        object-fit: cover;
      }

      @include mq-750 {
        flex-direction: row-reverse;

        img,
        .body {
          width: 50%;
        }

        img {
          max-height: none;
        }
      }

      .body {
        padding: space(4);

        img {
          width: 125px;
          float: right;
          margin-top: space(2);

          @include mq-750 {
            margin-top: space(8);
          }
        }
      }
    }

    .jobs {
      margin: 0;
      border-top: 1px solid $nobel;
      padding-top: space(4);
      background: #fcfcfc;

      h3 {
        font-size: 2.5rem;
        text-transform: uppercase;
        text-align: left;
        margin-left: space(3);

        @include mq-750 {
          margin-right: space(9);
        }
      }

      ul {
        @include fontBarlowRegular;

        display: grid;
        gap: 1px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        background: white url('/img/pattern_light.svg') left top repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        list-style: none;
        font-size: 1.8rem;
        padding: 0;
        // background: black;
        // padding: space(2) space(3);

        // @include mq-750 {
        //   padding: space(2) space(9);
        // }

        li {
          padding: space(4);
          box-shadow: 0 0 1px $nobel;
          background: rgba(255, 255, 255, 0.4);

          h4 {
            @include fontBarlowMedium;

            margin: 0 0 space(2) 0;
            font-size: 2.4rem;
          }

          p {
            @include fontGeorgiaRegular;

            font-size: 1.6rem;
          }

          .readMoreLink {
            float: right;
            text-transform: uppercase;
            color: $cod-gray;
            display: flex;
            align-items: center;
            margin-top: space(3);

            span {
              border-bottom: 2px solid transparent;
              transition: border-color 0.3s;
            }

            &:hover {
              span {
                border-color: $cod-gray;
              }
            }

            svg {
              margin-left: space(1);
            }
          }
        }
      }
    }
  }
}
