@import '../../styles/tools';

.page {
  max-width: $max-page-width;
  margin: 0 auto;
}

.main {
  padding-top: var(--header-height);
  background: white;

  @include mq-750 {
    padding-top: 0;
  }
}
