@import '../../styles/tools';

.main {
  padding-top: var(--header-height);
  // background: $cod-gray;
  background: white url('/img/pattern_light.svg') left top repeat;
  background-size: cover;
  background-attachment: fixed;
}
