@import '../../styles/tools';

.newsSection {
  background: white;

  .inner {
    display: flex;
    flex-direction: column;

    @include mq-750 {
      flex-direction: row;
    }

    .newsItemsWrapper {
      display: flex;
      flex-direction: column;
      flex: 1;

      .readMoreNews {
        background: $cod-gray url('/img/pattern_dark.svg') left top repeat;
        background-size: cover;
        // background-attachment: fixed;
        text-transform: uppercase;
        color: white;
        font-size: 2.5rem;
        padding: space(2);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        @include fontBarlowMedium;

        svg {
          margin-left: space(1);
          font-size: 2.8rem;
        }
      }
    }
  }
}
