@import '../../styles/tools';

.desktopNav {
  display: none;

  @include mq-750 {
    display: block;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    @include fontBarlowRegular;

    li {
      text-transform: uppercase;
      font-size: 2rem;

      + li {
        margin-left: space(2);
      }

      a {
        color: white;
        transition: color 0.3s;

        &:hover,
        &.active {
          color: $wild-willow;
        }
      }
    }
  }
}
