@import '../../styles/tools';

.desktopNav {
  display: none;

  @include mq-750 {
    display: block;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: margin-bottom 0.3s;

    @include fontBarlowRegular;

    li {
      text-transform: uppercase;
      font-size: 2rem;

      @include mq-900 {
        font-size: 2.4rem;
      }

      + li {
        margin-left: space(2);
      }

      a {
        color: white;
        transition: color 0.3s;

        &:hover,
        &.active {
          color: $green;
        }
      }
    }
  }

  &.isSticky {
    ul {
      margin-bottom: -5px;
    }
  }
}
