@import '../../styles/tools';

.title {
  display: flex;
  transition: border-bottom-color 0.2s;
  margin: 0 space(3);

  &:not(:last-of-type) {
    border-bottom: 1px solid $silver;
  }

  &.active {
    border-bottom-color: transparent;
  }

  button {
    @include fontGeorgiaRegular;

    text-align: right;
    flex: 1;
    border: none;
    background: none;
    font-size: 1.8rem;
    margin: 0;
    padding: space(2) 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $cod-gray;
    -webkit-font-smoothing: antialiased;

    @include mq-900 {
      font-size: 1.4rem;
    }

    @include mq-1100 {
      font-size: 1.8rem;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      margin-left: space(2);
      color: $cod-gray;
    }
  }
}

.body {
  margin: 0;
  overflow: hidden;

  .inner {
    padding: 0 space(6);

    p {
      margin: space(1) 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
