@import '../../styles/tools';

.solutionCategory {
  flex: 1;
  background: white;
  padding: 0 space(2);

  @include mq-900 {
    box-shadow: 0 0 0 1px $nobel;
  }

  & + .solutionCategory {
    margin-top: space(2);

    @include mq-900 {
      margin-top: 0;
    }
  }

  h3 {
    @include fontBarlowMedium;

    text-transform: uppercase;
    text-align: right;
    font-size: 2.4rem;
    padding: space(2);

    @include mq-900 {
      text-align: center;
    }
  }
}
