@import '../../styles/tools';

.theCompanyItem {
  display: flex;
  flex-direction: column;

  @include mq-900 {
    flex-direction: row-reverse;
  }

  .image {
    max-height: 340px;
    object-fit: cover;

    @include mq-900 {
      max-height: none;
      width: 50%;
    }
  }

  .body {
    padding: space(4);

    h3 {
      @include fontBarlowMedium;

      font-size: 3rem;
      margin-bottom: space(2);
    }

    @include mq-900 {
      width: 50%;
    }
  }
}
