@import '../../styles/tools';

.newsItems {
  display: flex;
  overflow-x: scroll;

  @include mq-750 {
    flex-direction: column;
    flex: 1;
  }

  article {
    padding: space(2);
    display: flex;
    height: 150px;
    width: 400px;
    max-width: 93%;
    flex: 0 0 auto;

    + article {
      border: 1px solid $nobel;
      border-width: 0 0 0 1px;
    }

    @include mq-750 {
      width: auto;
      height: auto;
      max-width: none;
      flex: 1;

      + article {
        border-width: 1px 0 0 0;
      }
    }

    img {
      width: 30%;
      object-fit: cover;
      margin-right: space(2);
      border: 1px solid $nobel;
    }

    .content {
      @include mq-600 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -10px;
      }

      h3 {
        @include fontBarlowMedium;

        margin-bottom: space(1);
        font-size: 2.2rem;

        a {
          color: $cod-gray;
        }
      }

      .excerpts {
        font-size: 1.6rem;
        line-height: 1.2;
      }
    }
  }
}
