@import '../../styles/tools';

.contactSection {
  background: white;

  .inner {
    display: flex;
    flex-direction: column;

    @include mq-750 {
      flex-direction: row-reverse;
    }

    .contactInfo {
      @include fontBarlowMedium;

      font-size: 2.5rem;
      background: $cod-gray url('/img/pattern_dark.svg') left top repeat;
      background-size: cover;
      background-attachment: fixed;
      color: white;
      padding: space(9) space(3);
      box-shadow: 0 0 0 black;

      .section {
        margin-bottom: space(6);
        text-align: center;

        h3,
        h4 {
          @include fontBarlowMedium;

          font-size: 3rem;
          margin: 0;
        }

        p {
          white-space: pre-wrap;
        }
      }

      @include mq-750 {
        flex-basis: 33.333%;
      }
    }
  }

  .formDetails {
    position: relative;
    overflow: hidden;
    padding: space(3) space(2);

    .contactUsText {
      @include fontBarlowMedium;

      font-size: 2rem;
    }

    @include mq-750 {
      flex-basis: 66.666%;
    }

    .notification {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);
      color: white;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

      /* stylelint-disable-next-line no-descending-specificity */
      h4 {
        @include fontBarlowMedium;

        text-transform: uppercase;
        font-size: 3rem;
        margin: 0 0 space(2) 0;
      }

      /* stylelint-disable-next-line no-descending-specificity */
      p {
        @include fontBarlowRegular;

        font-size: 2rem;
      }

      &.success {
        background: $wild-willow;
      }

      &.error {
        background: $error-red-background;
      }
    }
  }
}
