@import '../../styles/tools';

.newsItemFeatured {
  border: 1px solid $nobel;
  border-width: 0 0 1px 0;

  @include mq-750 {
    border-width: 0 1px 0 0;
    flex: 1;
  }

  img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid $nobel;
  }

  .content {
    padding: space(4);

    h3 {
      font-size: 3rem;
      margin-bottom: space(2);

      @include fontBarlowMedium;

      a {
        color: $cod-gray;
      }
    }

    .preamble {
      margin-top: space(1);
      line-height: 1.5;
    }
  }
}
