@import '../../styles/tools';

.theCompany {
  background: white;

  nav {
    background: #313131;
    // display: flex;
    // flex-wrap: nowrap;
    // padding: space(2) space(3);
    // padding: space(2);

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      overflow-x: scroll;

      li {
        // margin-right: space(2);
        padding: space(2);
      }

      button {
        color: white;
        background: none;
        margin: 0;
        border: none;
        text-transform: uppercase;
        padding: space(1) 0 space(0.5) 0;
        width: min-content;
        white-space: nowrap;
        border-bottom: 2px solid transparent;

        &.active {
          border-bottom-color: white;
        }

        & + button {
          margin-left: space(2);
        }
      }
    }
  }
}
