@import '../../styles/tools';

.contactDetails {
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  display: none;

  @include fontBarlowRegular;

  @include mq-750 {
    display: flex;
  }

  a {
    display: flex;
    align-items: center;
    color: $nobel;
    margin-right: space(2);
    transition: color 0.3s;

    .icon {
      margin-right: space(1);
      color: $green;
      width: 20px;
    }

    &:last-of-type {
      margin-right: 0;

      .icon {
        margin-right: 0;
      }
    }

    &:hover {
      color: white;
    }
  }
}
