@import '../../styles/tools';

.newsPost {
  .displayImage {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border: 1px solid $cod-gray;
    border-width: 0 0 1px 0;
  }

  +.newsPost {
    .displayImage {
      border-width: 1px 0;
    }
  }

  &:first-of-type {
    border-width: 0 0 1px 0;
  }

  .body {
    padding: space(4) 2.5%;

    h2 {
      @include fontBarlowMedium;

      margin-bottom: space(4);

      a {
        color: $cod-gray;
      }
    }

    .readMore {
      @include fontBarlowRegular;

      display: inline-block;
      margin-top: space(2);
      color: $cod-gray;
      font-size: 2rem;
      border-bottom: 2px solid transparent;
      transition: border-color 0.3s;

      &:hover {
        border-color: $cod-gray;
      }
    }
  }
}
