@import '../../styles/tools';

.solutionsSection {
  background: white url('/img/pattern_light.svg') left top repeat;
  background-size: cover;

  .inner {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    @include mq-900 {
      flex-direction: row;
    }
  }
}
