@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,700;1,500&display=swap');

// Colors
$cod-gray: #1d1d1d;
$green: #b3d078;
$nobel: #b7b7b7;
$silver: rgb(200, 200, 200, 0.25);
$error-red-background: #c33434;
$error-red-text: #fb4949;

// Dims
$header-height: 150px;
$max-container-width: 1200px;

// Functions
@function space($nr: 1) {
  @return $nr * 8px;
}

// MQs
@mixin mq-600 {
  @media (min-width: #{600/16 + 0em}) {
    @content;
  }
}

@mixin mq-750 {
  @media (min-width: #{750/16 + 0em}) {
    @content;
  }
}

@mixin mq-900 {
  @media (min-width: #{900/16 + 0em}) {
    @content;
  }
}

@mixin mq-1100 {
  @media (min-width: #{1100/16 + 0em}) {
    @content;
  }
}

@mixin mq-1000 {
  @media (min-width: #{1000/16 + 0em}) {
    @content;
  }
}

@mixin mq-max-container {
  @media (min-width: #{(1200 + 50)/16 + 0em}) {
    @content;
  }
}

// Fonts
@mixin fontBarlowRegular {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}

@mixin fontBarlowMedium {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
}

@mixin fontBarlowMediumItalic {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  font-style: italic;
}

@mixin fontBarlowBold {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
}

@mixin fontGeorgiaRegular {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
}
