@import './tools';

:root {
  --header-height: 72px;

  @include mq-750 {
    --header-height: 150px;
  }
}

* {
  box-sizing: border-box;
  // TODO: Fix outline for keyboard focused elements but not on mouse klick
  outline: none;
}

html,
body {
  padding: 0;
  margin: 0;
  color: $cod-gray;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #363636;

  @include fontGeorgiaRegular;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.5;

  & + p {
    margin-top: space(3);
  }
}

button {
  cursor: pointer;
}
