@import '../../styles/tools';

.newsArchive {
  background: white;

  h1 {
    @include fontBarlowMedium;

    font-size: 4rem;
    padding: space(6) space(8);
    text-transform: uppercase;
    border-bottom: 1px solid $nobel;
  }
}
